.buttons{
    display: flex;
    justify-content: space-evenly;
    padding-top: 50px;
}

.buttons * {
    padding: 10px;
    background-color: lightcoral;
    border-radius: 10px;
}

.scores{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.scores * {
    padding: 10px;
    border-radius: 10px;
}

#playerScore{
    background-color: beige;
    
}

#computerScore{
    background-color: lightblue;
}

#results{
    text-align: center;
    font-weight: bold;
}